In [173]:
import pandas as pd
df = pd.read_csv('stock_data.csv')

In [20]:
print(df.head(10))
print('='*70)
print(df.info())
#количество строк и столбцов
print(df.shape)

         Date Ticker     Open     High      Low    Close    Volume
0  2023-01-03   SBER   149.90   150.78   148.07   150.00   7904346
1  2023-01-03   GAZP   171.34   172.39   169.36   170.00  11655398
2  2023-01-03   LKOH  4788.82  4809.29  4715.52  4800.00   3751030
3  2023-01-03   YNDX  2188.86  2205.53  2172.96  2200.00   4385648
4  2023-01-03   ROSN   399.55   400.22   394.99   400.00   6768625
5  2023-01-04   SBER   149.48   150.80   148.76   150.34   7680176
6  2023-01-04   GAZP   169.32   169.34   166.35   167.77  13406798
7  2023-01-04   LKOH  4718.94  4792.92  4663.93  4714.02   9805270
8  2023-01-04   YNDX  2243.64  2245.71  2236.32  2241.72   4242821
9  2023-01-04   ROSN   393.41   397.66   392.33   394.32   3680208
======================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2605 entries, 0 to 2604
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2605 non-null   object
 1   Ticker  2605 non-null   object
 2   Open    2605 non-null   float64
 3   High    2605 non-null   float64
 4   Low     2605 non-null   float64
 5   Close   2605 non-null   float64
 6   Volume  2605 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 142.6+ KB
None
(2605, 7)

In [17]:
print(df['Ticker'].unique())
print(df['Ticker'].nunique())
print('='*70)
print(df.describe())

['SBER' 'GAZP' 'LKOH' 'YNDX' 'ROSN']
5
======================================================================
              Open         High          Low        Close        Volume
count  2605.000000  2605.000000  2605.000000  2605.000000  2.605000e+03
mean   1740.631555  1755.034415  1725.731923  1740.216537  1.013314e+07
std    2239.780859  2258.665615  2220.480118  2239.319633  5.276357e+06
min      99.830000   101.130000    97.620000   100.250000  1.815094e+06
25%     142.690000   143.830000   141.480000   142.580000  6.487373e+06
50%     571.970000   578.290000   567.600000   573.560000  8.924207e+06
75%    2357.080000  2373.090000  2335.420000  2348.380000  1.261194e+07
max    8126.110000  8195.160000  8083.260000  8104.230000  6.099886e+07

In [50]:
df_sorted = df[['Ticker','Close']]
df_sorted.sort_values('Close', ascending=False)

     Ticker    Close
1822   LKOH  8104.23
1827   LKOH  8042.87
1832   LKOH  7980.76
1837   LKOH  7976.04
1807   LKOH  7936.42
...     ...      ...
1856   GAZP   102.78
1265   SBER   101.46
1841   GAZP   101.41
1846   GAZP   101.30
1851   GAZP   100.25

[2605 rows x 2 columns]

In [52]:
max(df['Close'])

8104.23

In [53]:
sber = ['SBER']

In [62]:
df_sber = df[df['Ticker'] == 'SBER']
df_sber

            Date Ticker     Open     High      Low    Close    Volume
0     2023-01-03   SBER   149.90   150.78   148.07   150.00   7904346
1     2023-01-03   SBER   171.34   172.39   169.36   170.00  11655398
2     2023-01-03   SBER  4788.82  4809.29  4715.52  4800.00   3751030
3     2023-01-03   SBER  2188.86  2205.53  2172.96  2200.00   4385648
4     2023-01-03   SBER   399.55   400.22   394.99   400.00   6768625
...          ...    ...      ...      ...      ...      ...       ...
2600  2024-12-31   SBER   131.63   133.33   130.32   131.29   8251542
2601  2024-12-31   SBER   106.60   107.33   106.04   107.03   7486718
2602  2024-12-31   SBER  6637.77  6737.86  6535.48  6671.05   6394961
2603  2024-12-31   SBER  1045.07  1063.32  1042.22  1054.25   7827432
2604  2024-12-31   SBER   914.09   915.41   892.43   909.49   9500740

[2605 rows x 7 columns]

In [63]:
df.query('Ticker =="SBER"')

            Date Ticker     Open     High      Low    Close    Volume
0     2023-01-03   SBER   149.90   150.78   148.07   150.00   7904346
1     2023-01-03   SBER   171.34   172.39   169.36   170.00  11655398
2     2023-01-03   SBER  4788.82  4809.29  4715.52  4800.00   3751030
3     2023-01-03   SBER  2188.86  2205.53  2172.96  2200.00   4385648
4     2023-01-03   SBER   399.55   400.22   394.99   400.00   6768625
...          ...    ...      ...      ...      ...      ...       ...
2600  2024-12-31   SBER   131.63   133.33   130.32   131.29   8251542
2601  2024-12-31   SBER   106.60   107.33   106.04   107.03   7486718
2602  2024-12-31   SBER  6637.77  6737.86  6535.48  6671.05   6394961
2603  2024-12-31   SBER  1045.07  1063.32  1042.22  1054.25   7827432
2604  2024-12-31   SBER   914.09   915.41   892.43   909.49   9500740

[2605 rows x 7 columns]

In [78]:
# выбрать столбец с тикером GAZP и объемом торгов > 10 млн
df_gaz=df[(df['Ticker'] == 'GAZP') & (df['Volume'] > 1000000)]
#df_gaz = df.query('Ticker == "GAZP" and Volume > 10000000')
#df_gaz

In [158]:
# преобразование даты в дату)
df['Date'] = pd.to_datetime(df['Date'])

#### Попробуем выделить данные по кварталам

In [93]:
df.query('Date <= "1-4-2024"')

           Date Ticker     Open     High      Low    Close    Volume
0    2023-01-03   SBER   149.90   150.78   148.07   150.00   7904346
1    2023-01-03   GAZP   171.34   172.39   169.36   170.00  11655398
2    2023-01-03   LKOH  4788.82  4809.29  4715.52  4800.00   3751030
3    2023-01-03   YNDX  2188.86  2205.53  2172.96  2200.00   4385648
4    2023-01-03   ROSN   399.55   400.22   394.99   400.00   6768625
...         ...    ...      ...      ...      ...      ...       ...
1310 2024-01-04   SBER   114.93   115.30   113.59   114.27   7723274
1311 2024-01-04   GAZP   172.67   174.30   171.73   172.77  17912416
1312 2024-01-04   LKOH  6381.33  6391.20  6264.04  6338.67   8789528
1313 2024-01-04   YNDX  1800.35  1803.14  1784.05  1787.17  16927189
1314 2024-01-04   ROSN   571.60   585.27   569.45   575.40   9620223

[1315 rows x 7 columns]

In [132]:
ui = []

for x in range (2023,2025):
    i = f'1-1-{x}'
    ui.append(i)
    i = f'4-1-{x}'
    ui.append(i)

ui=pd.to_datetime(ui)

In [133]:
ui[0]

Timestamp('2023-01-01 00:00:00')

In [129]:
FirstQ = df[(df['Date'] >= ui[0]) & (df['Date'] <= ui[1])&(df['Date'] >= ui[2]) & (df['Date'] <= ui[3])]
FirstQ

Empty DataFrame
Columns: [Date, Ticker, Open, High, Low, Close, Volume]
Index: []

In [134]:
# первые кварталы 2023 и 2024 годов
pd.concat([df[(df['Date'] >= ui[0]) & (df['Date'] <= ui[1])], df[(df['Date'] >= ui[2]) & (df['Date'] <= ui[3])]], ignore_index=True)

          Date Ticker     Open     High      Low    Close    Volume
0   2023-01-03   SBER   149.90   150.78   148.07   150.00   7904346
1   2023-01-03   GAZP   171.34   172.39   169.36   170.00  11655398
2   2023-01-03   LKOH  4788.82  4809.29  4715.52  4800.00   3751030
3   2023-01-03   YNDX  2188.86  2205.53  2172.96  2200.00   4385648
4   2023-01-03   ROSN   399.55   400.22   394.99   400.00   6768625
..         ...    ...      ...      ...      ...      ...       ...
645 2024-04-01   SBER   111.65   112.46   109.97   112.03   4981751
646 2024-04-01   GAZP   144.80   145.78   143.52   144.83  10934048
647 2024-04-01   LKOH  7306.46  7481.42  7232.28  7377.73   5697682
648 2024-04-01   YNDX  1394.04  1404.95  1391.45  1401.15   8933089
649 2024-04-01   ROSN   751.92   758.91   751.83   756.38   7521354

[650 rows x 7 columns]

#### Выделим данные за первый квартал 2024 года для сбера

In [135]:
df.query("(Date >='2024-01-01' and Date <= '2024-03-31') and Ticker == 'SBER'")

           Date Ticker    Open    High     Low   Close    Volume
1295 2024-01-01   SBER  111.75  112.56  110.95  111.17  10296963
1300 2024-01-02   SBER  112.97  114.06  111.73  113.66  15137537
1305 2024-01-03   SBER  114.08  114.31  114.06  114.27   5949305
1310 2024-01-04   SBER  114.93  115.30  113.59  114.27   7723274
1315 2024-01-05   SBER  116.33  117.62  116.09  116.68   3625351
...         ...    ...     ...     ...     ...     ...       ...
1595 2024-03-25   SBER  118.67  119.95  118.59  119.26   3768342
1600 2024-03-26   SBER  118.92  119.39  118.24  119.22  16834288
1605 2024-03-27   SBER  118.28  119.02  116.74  118.96   9262234
1610 2024-03-28   SBER  116.00  117.08  115.54  116.68   6790334
1615 2024-03-29   SBER  116.99  118.10  116.65  117.04  17315534

[65 rows x 7 columns]

In [138]:
df.groupby('Ticker')['Close'].mean()

Ticker
GAZP     147.016276
LKOH    5895.910710
ROSN     582.614971
SBER     123.379002
YNDX    1952.161727
Name: Close, dtype: float64

In [140]:
df.groupby('Ticker')['Volume'].sum()

Ticker
GAZP    5421400691
LKOH    5338433306
ROSN    5221791239
SBER    5046614174
YNDX    5368583051
Name: Volume, dtype: int64

#### Среднедневной оборот по месяцам

In [175]:
df = pd.read_csv('stock_data.csv')

In [176]:
# преобразование даты в дату)
df['Date'] = pd.to_datetime(df['Date'])

In [177]:
df_month = df
df_month['Date'] = df['Date'].dt.to_period('M')

In [180]:
df_month.query('Ticker == "SBER"').groupby('Date')['Volume'].mean().round(1)

Date
2023-01     9403290.1
2023-02    11822550.7
2023-03    11204460.3
2023-04     9699365.8
2023-05    10517639.0
2023-06     9296805.0
2023-07     8989964.8
2023-08     9307812.2
2023-09     9018082.1
2023-10    10375435.9
2023-11     9471992.4
2023-12     8461768.1
2024-01     8143239.3
2024-02     9265647.0
2024-03     9407660.7
2024-04    10451265.0
2024-05     8059387.6
2024-06    12277177.4
2024-07     9848572.7
2024-08     9960431.1
2024-09    10013464.7
2024-10    10012095.2
2024-11    10075084.2
2024-12     7723814.0
Freq: M, Name: Volume, dtype: float64

# Машинное обучение

In [181]:
from sklearn.model_selection import train_test_split

In [182]:
# Модель: y = β₀ + β₁·x₁ + β₂·x₂ + ... + βₙ·xₙ + ε
#
# Где:
#   y    — целевая переменная (то, что предсказываем)
#   x    — признаки (features)
#   β    — коэффициенты (веса), которые модель учит
#   ε    — ошибка
#
# Метрики качества:
#   MAE  — средняя абсолютная ошибка
#   MSE  — среднеквадратичная ошибка
#   RMSE — корень из MSE
#   R²   — коэффициент детерминации (доля объяснённой дисперсии)
#
# Ключевые концепции:
#   - Train/Test split: разделение данных на обучающую и тестовую выборки
#   - Переобучение (overfitting): модель "заучивает" данные, плохо обобщает
#   - Feature engineering: создание информативных признаков
# ===========================================================================


from sklearn.model_selection import train_test_split # автоматизация выбора данных
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import matplotlib.pyplot as plt


print("=" * 60)

sber = df[df['Ticker'] == 'SBER'].copy()

X = sber[['Open']].values
y = sber['Close'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(f"\nКоэффициент (β₁): {model.coef_[0]:.4f}")
print(f"Свободный член (β₀): {model.intercept_:.4f}")
print(f"\nМетрики на тестовой выборке:")
print(f"  MAE:  {mean_absolute_error(y_test, y_pred):.4f}")
print(f"  RMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}")
print(f"  R²:   {r2_score(y_test, y_pred):.4f}")

fig, ax = plt.subplots(figsize=(10, 6))
ax.scatter(X_test, y_test, alpha=0.5, s=15, label='Реальные данные')

x_line = np.linspace(X.min(), X.max(), 100).reshape(-1, 1)
ax.plot(x_line, model.predict(x_line), color='red', linewidth=2, label='Регрессия')
ax.set_title('Линейная регрессия: Open → Close (SBER)', fontsize=14)
ax.set_xlabel('Цена открытия')
ax.set_ylabel('Цена закрытия')
ax.legend()
ax.grid(True, alpha=0.3)
plt.tight_layout()
plt.savefig('plot_3_1_simple_regression.png', dpi=150)
plt.close()
print("График сохранён -> plot_3_1_simple_regression.png")

============================================================

Коэффициент (β₁): 0.9975
Свободный член (β₀): 0.3240

Метрики на тестовой выборке:
  MAE:  0.4678
  RMSE: 0.5729
  R²:   0.9985
График сохранён -> plot_3_1_simple_regression.png

## ДЗ: Взять любой датасет и создать + обучить линейную модель